*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

body{
  font-family: "Inter", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(246, 247, 248);
}

.grey-btn {
  background-color: rgb(42, 54, 71);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 70px;
  font-weight: bold;
}

.grey-btn:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

.white-btn {
  background-color: white;
  color: rgb(42, 54, 71);
  cursor: pointer;  
  border-radius: 5px;
  height: 35px;
  width: 120px;
  font-weight: bold;
  border: 1px solid;
}

.white-btn:hover {
  border-color: rgb(41, 171, 226);
  color: rgb(41, 171, 226);
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);  
  border: 2px solid;
}